[user]
	name = Fumiyoshi MATANO
	email = fumiyoshi.matano@gmail.com
    signingkey = "~/.ssh/id_ed25519"

[core]
	editor = codium --wait

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	format = ssh

[pull]
	rebase = false
