# https://hub.docker.com/r/pipelinecomponents/shellcheck
image: registry.gitlab.com/pipeline-components/shellcheck:latest

stages:
  - lint

lint:
  stage: lint
  script:
    - apk add stow
    - shellcheck setup_codium.bash
    - stow -nv codex fish git xfce xmodmap
