model = "gpt-5.2-codex"
model_reasoning_effort = "medium"
features.web_search_request = true

# "Activate the current dir as project using serena"
[mcp_servers.serena]
command = "uvx"
args = [
    "--from",
    "git+https://github.com/oraios/serena",
    "serena",
    "start-mcp-server",
    "--context",
    "codex",
]
