model = "gpt-5.2-codex"
model_reasoning_effort = "high"
web_search = "live"

# 起動コマンド：Activate the current dir as project using serena
[mcp_servers.serena]
command = "uvx"
args = [
    "--from",
    "git+https://github.com/oraios/serena",
    "serena",
    "start-mcp-server",
    "--context",
    "codex",
    "--enable-web-dashboard",
    "false",
]
