#! /bin/sh

# Surface におけるタッチパネルの無効化
if command -v xinput >/dev/null 2>&1; then
    if xinput list --name-only 2>/dev/null | grep -Fxq "Surface Touch Device"; then
        xinput disable "Surface Touch Device"
    fi
fi

# 一部キーの無効化
(sleep 10 && xmodmap "$HOME/.config/xmodmap") &
